body {
  height: 120vh;
  background-image: url("https://img.freepik.com/free-vector/background-template-with-mandala-designs_1308-69608.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1711670400&semt=ais");
  background-position: center;
  background-size: cover;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(34, 255, 0);
  
  font-size: 30px;
}

#question-container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 19px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: aqua;
  margin-bottom: 54px;
}
h3 {
  color: indigo;
}


h1 {
  background-color: darkblue;
}